@media (max-width:768px) {
  .more-stories-section.is-mobile-home-feed-ready .mobile-home-feed-card-02 .more-service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .more-stories-section.is-mobile-home-feed-ready .mobile-home-feed-card-02 .more-service-card-link {
    margin-top: 2px;
    transform: translateY(-14px);
  }
}